<h1 class="h1-chasqui">{{ title }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lati"
[longitude]="longi"
[zoom]="zoom"
>

  <agm-marker *ngFor="let m of markers"[latitude]="m.lati" [longitude]="m.longi" ></agm-marker>
  <agm-polyline [strokeColor]="'#FA6C1B'">
      <agm-polyline-point *ngFor="let l of latlongs"[latitude]="l.lati" [longitude]="l.longi">
        </agm-polyline-point>
  </agm-polyline>
</agm-map>
