.cards-estilo{
margin: 0.5em;
padding: 2em;
}
.cards-margenes{
  margin:0.5em;

-webkit-box-shadow: -1px 3px 21px 14px rgba(0,0,0,0.43);
-moz-box-shadow: -1px 3px 21px 14px rgba(0,0,0,0.43);
 box-shadow: -1px 3px 21px 14px rgba(0,0,0,0.43);
}
